# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Tests
test_database.py

# YOLO / PyTorch models
*.pt

# Streamlit
.streamlit/

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db